RewriteEngine On

# Force HTTPS
#RewriteCond %{HTTPS} !On
#RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}

# Force www
# RewriteBase /
# RewriteCond %{HTTP_HOST} ^www\.isatlas\.teamspam\.net$ [NC]
# RewriteRule ^(.*)$ http://isatlas.teamspam.net/$1 [L,R=301]

<IfModule mod_expires.c>
ExpiresActive On
ExpiresByType text/html "access 1 week"
ExpiresByType text/css "access 1 week"
ExpiresByType text/x-javascript "access 1 week"
ExpiresDefault "access 1 month"
</IfModule>

<IfModule mod_deflate.c>
AddOutputFilterByType DEFLATE text/html text/plain text/xml image/svg+xml application/xml
</IfModule>

<IfModule mod_headers.c>

<filesMatch ".(jpg|jpeg|png|gif|ico)$">
Header set Cache-Control "max-age=2628000, public"
</filesMatch>

<filesMatch ".(css|js|html|shtml|php|txt|xml)$">
Header set Cache-Control "max-age=604800, public"
</filesMatch>

Header set X-TeamSPAM "Information is in the noise!"

Header set Content-Security-Policy \
"default-src 'none'; \
connect-src 'self' www.google-analytics.com ajax.googleapis.com maxcdn.bootstrapcdn.com code.ionicframework.com; \
font-src 'self' maxcdn.bootstrapcdn.com code.ionicframework.com; \
img-src 'self' www.google-analytics.com ir-na.amazon-adsystem.com; \
manifest-src 'self'; \
object-src 'self'; \
script-src 'self' maxcdn.bootstrapcdn.com www.google-analytics.com ajax.googleapis.com cdn.ampproject.org; \
style-src 'self' 'unsafe-inline' maxcdn.bootstrapcdn.com code.ionicframework.com; \
upgrade-insecure-requests"

# Set XSS Protection header
Header set X-XSS-Protection "1; mode=block"

</IfModule>
