<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1" />
  <meta name="robots" content="noindex, follow" />

  <!-- common social tags -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@ISAtlasBTech" />
  <meta name="twitter:creator" content="@ISAtlasBTech" />
  <meta property="og:type" content="website" />
  <meta property="og:image" name="twitter:image" content="https://isatlas.teamspam.net/images/ISAtlasTwitterFactory.png" />
  <meta property="og:image:width" content="512" />
  <meta property="og:image:height" content="512" />
  <meta property="og:site_name" content="Inner Sphere Atlas" />

  <!-- document-specific social tags -->
  <meta property="og:url" content="{{ canonicalLink }}" />
  <meta property="og:title" name="twitter:title" content="Factories | Inner Sphere Atlas" />
  <meta property="og:description" name="description" content="A listing of factories in the BattleTech/MechWarrior Universe (aka The Inner Sphere)." />

  <meta name="theme-color" content="#EEEEEE"/>
  <link rel="manifest" href="/manifest.json"></link>

  <!-- icons -->
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="apple-touch-icon-precomposed" href="/images/icon/isatlas-57x57.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/icon/isatlas-72x72.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/icon/isatlas-114x114.png" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/icon/isatlas-144x144.png" />

  <title>Factories | Inner Sphere Atlas</title>

  <link rel="alternate" href="{{ canonicalLink }}" hreflang="x-default" />
  <link rel="canonical" href="{{ canonicalLink }}" />
  <link rel=”publisher” href="https://plus.google.com/100379799764247656300">

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />

  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
</head>

<body>
  <a href="#content" class="sr-only sr-only-focusable">Skip to main content</a>
  <div class="container">
    <ol class="breadcrumb">
      <li>
        <a href="/">Inner Sphere Atlas</a>
      </li>
      <li class="active">Factories</li>
    </ol>
    <div class="row">
      <div class="col-sm-12">
        <div class="page-header">
          <h1>
            <i class="icon ion-settings"></i>
            <b>Factories:</b>
          </h1>
        </div>
      </div>
    </div>
    {% include 'next_prev.html' %}
  </div>
  <div class="container" id="content" tabindex="-1">
    {% include 'factory-overview.html' %}
  </div>
  <div class="container">
    {% include 'next_prev.html' %}
  </div>
  {% include 'footer.html' %}
</body>

</html>
