<div class="container">
    <hr/>
    <footer class="text-muted">
        <div class="row">
            <div class="col-sm-4">
                <p>Copyright &copy; Inner Sphere Atlas {{ copyrightYear }}</p>
                <p>
                  <a href="https://twitter.com/ISAtlasBtech" class="btn btn-default"><i class="icon ion-social-twitter"></i></a> &nbsp;
                  <a href="https://www.facebook.com/InnerSphereAtlas" class="btn btn-default">&nbsp;<i class="icon ion-social-facebook"></i>&nbsp;</a> &nbsp;
                  <a href="https://plus.google.com/100379799764247656300" class="btn btn-default"><i class="icon ion-social-googleplus"></i></a> &nbsp;
                  <a href="/sitemap.php" class="btn btn-default">Site Map</a>
                </p>
            </div>
            <div class="col-sm-8">
                {% include 'cya.html' %}
            </div>
        </div>
    </footer>
</div>
<!-- Include all compiled plugins (below), or include individual files as needed -->
{% if mobile == false %}
<script async src='/javascript/isatlas.js'></script>
<script async src='https://www.google-analytics.com/analytics.js'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
{% else %}
<amp-analytics type="googleanalytics" id="analytics1">
    <script type="application/json">
        {
            "vars": {
                "account": "__UA-uacct-#__"
            },
            "triggers": {
                "trackPageview": {
                    "on": "visible",
                    "request": "pageview"
                }
            }
        }
    </script>
</amp-analytics>
{% endif %}
