<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1" />
  <meta name="robots" content="index, follow" />

  <meta name="verify-v1" content="GlY3yEdIofi6DHBMfA+J7Ay00/3LoUiSEpGbQ9QSRt0=" />

  <link rel="schema.DC" href="http://purl.org/dc/elements/1.1/" />
  <meta name="DC.Title" content="Inner Sphere Atlas" />
  <meta name="DC.Creator" content="Michael J. Flynn" />
  <meta name="DC.Subject" content="BattleTech (Game)" />
  <meta name="DC.Description" content="A listing of the known planets/systems in the BattleTech/MechWarrior Universe (aka The Inner Sphere)." />
  <meta name="DC.Publisher" content="Team SPAM!" />
  <meta name="DC.Contributor" content="Chris Wheeler" />
  <meta name="DC.Type" content="Text" />
  <meta name="DC.Format" content="text/html" />
  <link rel="DC.Identifier" href="http://isatlas.teamspam.net/" />
  <meta name="DC.Language" content="en" />

  <!-- common social tags -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@ISAtlasBTech" />
  <meta name="twitter:creator" content="@ISAtlasBTech" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="https://isatlas.teamspam.net/images/ISAtlasTwitterCard.png" />
  <meta property="og:image:width" content="512" />
  <meta property="og:image:height" content="512" />
  <meta property="og:site_name" content="Inner Sphere Atlas" />

  <!-- document-specific social tags -->
  <meta property="og:title" content="Inner Sphere Atlas" />
  <meta property="og:url" content="{{ canonicalLink }}" />
  <meta property="og:description" content="A listing of the known planets/systems in the BattleTech/MechWarrior Universe (aka The Inner Sphere)." />

  <!-- icons -->
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="apple-touch-icon-precomposed" href="/images/icon/apple-touch-icon-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/icon/apple-touch-icon-72x72-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/icon/apple-touch-icon-114x114-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/icon/apple-touch-icon-144x144-precomposed.png" />

  <title>Inner Sphere Atlas</title>

  <link rel="alternate" href="{{ canonicalLink }}" hreflang="x-default" />
  <link rel="canonical" href="{{ canonicalLink }}" />

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />

  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
</head>

<body>
  <a href="#content" class="sr-only sr-only-focusable">Skip to main content</a>
  <div class="jumbotron">
    <div class="container">
      <h1 class="text-center"><i class="icon ion-planet"></i> Inner Sphere Atlas</h1>
    </div>
  </div>
  <div class="container" id="content" tabindex="-1">
    <div class="row">
      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2>
                <a href="./planet.php"><i class="icon ion-planet"></i> Systems:</a>
              </h2>
          </div>
          <div class="panel-body">
            <form method="post" action="./planet.php">
              <div class="form-group">
                <input type="hidden" name="func" value="search" />
                <input type="hidden" name="start" value="0" />
                <div class="col-xs-10">
                  <input type="text" class="form-control" name="searchvalue" size="24" value="" placeholder="Search Systems" />
                </div>
                <div class="col-xs-2">
                  <button type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    <span class="sr-only">Search</span>
                  </button>
                </div>
              </div>
            </form>
          </div>
          <div class="panel-body">
            <form method="get" action="./planet.php">
              <div class="form-group">
                <input type="hidden" name="func" value="browsebyletter" />
                <div class="col-xs-10">
                  <select class="form-control" name="searchvalue">
                    {% for letter in searchLetters %}
                    <option>{{ letter }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col-xs-2">
                  <button type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    <span class="sr-only">Search</span>
                  </button>
                </div>
              </div>
            </form>
          </div>
          <div class="list-group">
            {% for planet_id, name in planets %}
              <a class="list-group-item" href="./planet-detail.php?planet={{ planet_id | url_encode }}">{{ name }}</a>
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2>
                <a href="./factory.php"><i class="icon ion-settings"></i> Factories:</a>
              </h2>
          </div>
          <div class="panel-body">
            <form method="post" action="./factory.php">
              <div class="form-group">
                <input type="hidden" name="func" value="search" />
                <input type="hidden" name="start" value="0" />
                <div class="col-xs-10">
                  <input type="text" class="form-control" name="searchvalue" size="24" value="" placeholder="Search Factories" />
                </div>
                <div class="col-xs-2">
                  <button type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    <span class="sr-only">Search</span>
                  </button>
                </div>
              </div>
            </form>
          </div>
          <div class="list-group">
            {% for factory_id, name in factories %}
              <a class="list-group-item" href="./factory-detail.php?factory={{ factory_id }}">{{ name }}</a>
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2>
                <a href="./product-type.php"><i class="icon ion-gear-a"></i> Product or Component Types:
                </a>
              </h2>
          </div>
          <div class="panel-body">
            <form method="post" action="./product-type.php">
              <div class="form-group">
                <input type="hidden" name="func" value="search" />
                <input type="hidden" name="start" value="0" />
                <div class="col-xs-10">
                  <input type="text" class="form-control" name="searchvalue" size="24" value="" placeholder="Search Products or Components" />
                </div>
                <div class="col-xs-2">
                  <button type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    <span class="sr-only">Search</span>
                  </button>
                </div>
              </div>
            </form>
          </div>
          <div class="list-group">
            {% for product_type_id, name in productTypes %}
              <a class="list-group-item" href="./product-type-detail.php?searchvalue={{ product_type_id }}">{{ name }}</a>
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2>
                <a href="./novel.php"><i class="icon ion-ios-book"></i> Novels:</a>
              </h2>
          </div>
          <div class="list-group">
            <a class="list-group-item" href="./novel-timeline.php">Novel Timeline</a>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2><i class="icon ion-information-circled"></i> Credits:</h2>
          </div>
          <div class="panel-body">
            <ul>
              <li>
                Chris Wheeler, The Czar of Planet Information and Fluff, has been searching through all his sourcebooks and novels to create the planet descriptions.
              </li>
              <li>
                Most of the original Factory and Product / Component information came from Gauss Bear's BattleTech site.
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
  {% include 'footer.html' %}
</body>

</html>
