<div class="panel panel-default">
  <table class="table">
    <tr>
      <td align="right">
        <img src="./images/fluff.gif" alt="Description" width="16" height="16" border="0" align="right"/>
      </td>
      <td>
        <p>Planet has description information.</p>
      </td>
    </tr>
    <tr>
      <td align="right">
        <img src="./images/factory.gif" alt="Factory" width="16" height="16" border="0" align="right"/>
      </td>
      <td>
        <p>Planet has one of more factories.</p>
      </td>
    </tr>
  </table>
</div>
<br/>
