<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Inner Sphere Atlas: System</title>
  <meta name="verify-v1" content="GlY3yEdIofi6DHBMfA+J7Ay00/3LoUiSEpGbQ9QSRt0=" />

  <link rel="schema.DC" href="http://purl.org/dc/elements/1.1/" />
  <meta name="DC.title" lang="en" content="Inner Sphere Atlas" />
  <meta name="DC.publisher" content="Team SPAM!" />
  <meta name="DC.creator" content="Michael J. Flynn" />
  <meta name="DC.contributor" content="Chris Wheeler" />
  <meta name="DC.description" lang="en" content="A listing of all the known planets/systems in the BattleTech/MechWarrior Universe (aka The Inner Sphere)." />
  <meta name="DC.subject" lang="en" content="BattleTech; btech; BattleMech; Mech; Mecha; Succession Wars; Inner Sphere; CityTech; AeroTech; MechWarrior; Kurita; Steiner; Davion; Marik; Liao; Clans; Clan Wolf; Clan Smoke Jaguar; Clan Jade Falcon; Clan Ghost Bear; Periphery"
  />
  <meta name="DC.subject" scheme="LCSH" lang="en" content="BattleTech (Game)" />
  <meta name="DC.type" scheme="DCMIType" content="Text" />
  <meta name="DC.format" scheme="IMT" content="text/html" />
  <meta name="DC.identifier" content="http://isatlas.teamspam.net/" />
  <meta name="DC.language" scheme="RFC1766" content="en" />
  <meta name="ICBM" content="40.0508, -75.4047" />

  <!-- Bootstrap -->
  <link href="style/bootstrap.min.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
  <div class="container">
    <ol class="breadcrumb">
      <li><a href="./">IS Atlas</a></li>
      <li class="active">Systems</li>
    </ol>
  </div>
  <div class="container">
    {% include 'planet-overview.html' %} {% include 'legend.html' %}
  </div>
  {% include 'footer.html' %}
</body>

</html>
