<!DOCTYPE html>
{% if mobile %}
<html amp lang="en">
{% else %}
<html lang="en">
{% endif %}

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1" />
  <meta name="robots" content="index, follow" />

  <!-- common social tags -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@ISAtlasBTech" />
  <meta name="twitter:creator" content="@ISAtlasBTech" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="https://isatlas.teamspam.net/images/ISAtlasTwitterCard.png" />
  <meta property="og:image:width" content="512" />
  <meta property="og:image:height" content="512" />
  <meta property="og:site_name" content="Inner Sphere Atlas" />

  <!-- document-specific social tags -->
  <meta property="og:url" content="{{ canonicalLink }}" />
  <meta property="og:title" content="{{ planetData.name }}  | Planets/Systems | Inner Sphere Atlas" />
  <meta property="og:description" content="Information about '{{ planetData.name }}' ({{ planetData.x_coord }}, {{ planetData.y_coord }}), a planet/system in the BattleTech/MechWarrior Universe (aka The Inner Sphere)." />

  <!-- icons -->
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="apple-touch-icon-precomposed" href="/images/icon/apple-touch-icon-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/icon/apple-touch-icon-72x72-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/icon/apple-touch-icon-114x114-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/icon/apple-touch-icon-144x144-precomposed.png" />

  <title>{{ planetData.name }} | Planets/Systems | Inner Sphere Atlas</title>

  <link rel="canonical" href="{{ canonicalLink }}" />
  {% if mobile == false %}
  <link rel="alternate" href="{{ canonicalLink }}" hreflang="x-default" />
  <link rel="amphtml" href="{{ canonicalLink }}&amp;mobile=1">

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />

  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
  {% else %}
  <link rel="alternate" href="{{ canonicalLink }}&amp;mobile=1" hreflang="x-default" />

  {% include 'planet-detail.css' %}
  {% include 'amp-boilerplate.html' %}
  {% endif %}
  <script type="application/ld+json">
  {
    "@context":"http://schema.org",
    "@type":"Article",
    "mainEntityOfPage":"{{ canonicalLink }}&amp;mobile=1",
    "headline":"{{ planetData.name }} | Planets/Systems | Inner Sphere Atlas",
    "datePublished":"2016-04-20T12:00:00-05:00",
    "dateModified":"2016-04-20T12:20:00-05:00",
    "description":"Information about '{{ planetData.name }}' ({{ planetData.x_coord }}, {{ planetData.y_coord }}), a planet/system in the BattleTech/MechWarrior Universe (aka The Inner Sphere).",
    "image":{
      "@type":"ImageObject",
      "url":"https://isatlas.teamspam.net/images/ISAtlas_696x512.png",
      "width":696,
      "height":512
    },
    "author":{
      "@type":"Person",
      "name":"Chris Wheeler"
    },
    "publisher":{
      "@type":"Organization",
      "name":"Inner Sphere Atlas",
      "url":"https://isatlas.teamspam.net/",
      "logo":{
        "@type":"ImageObject",
        "url":"https://isatlas.teamspam.net/images/ISAtlasPublisher_600x60.png",
        "width":600,
        "height":60
      }
    }
  }
  </script>
</head>

<body>
  <a href="#content" class="sr-only sr-only-focusable">Skip to main content</a>
  <div class="container">
    <ol class="breadcrumb">
      <li>
        <a href="./">Inner Sphere Atlas</a>
      </li>
      <li>
        <a href="./planet.php">Systems</a>
      </li>
      <li class="active">{{ planetData.name }}</li>
    </ol>
    <div class="row">
      <div class="col-sm-12">
        <div class="page-header">
          <h1>
          <i class="icon ion-planet"></i>
          <b>System:</b>
          {{ planetData.name }}</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="container" id="content" tabindex="-1">
    {% include 'planet-detail-data.html' %}

    <div class="row">
      <div class="col-sm-6">
        {% include 'planet-detail-ownership.html' %}
      </div>

      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2>System Star Maps:</h2>
          </div>
          <div class="list-group">
            {% for era in eras %}
            <a class="list-group-item" href="./system-map.php?planet={{ planet | url_encode }}&amp;era={{ era | slice(1,4) | url_encode }}">{{ era | slice(1,4) }}</a> {% endfor %}
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        {% include 'planet-detail-factory.html' %}
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        {% include 'planet-detail-neighbors.html' %}
      </div>

      <div class="col-sm-6">
        {% include 'planet-detail-novels.html' %}
      </div>
    </div>
  </div>
  {% include 'footer.html' %}
</body>

</html>
