<div class="table-responsive">
  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th>Name:</th>
        <th>X Coord:</th>
        <th>Y Coord:</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for planet in planets %}
      <tr>
        <td>
          <a href="/planet-detail.php/{{ planet.slug }}{{ amp }}">{{ planet.name }}</a>
        </td>
        <td class="text-right">{{ planet.x_coord }}</td>
        <td class="text-right">{{ planet.y_coord }}</td>
        <td class="text-center">
          {% if planet.factory or planet.fluff %}
          <a href="/planet-detail.php/{{ planet.slug }}{{ amp }}">
            {% if planet.factory and planet.fluff %}
              {% spaceless %}
              <i class="icon ion-document-text"></i>&nbsp;
              <i class="icon ion-settings"></i>
              {% endspaceless %}
            {% elseif planet.factory %}
              <i class="icon ion-settings"></i>
            {% elseif planet.fluff %}
              <i class="icon ion-document-text"></i>
            {% endif %}
          </a> {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
