{% include 'next_prev.html' %} 

<table border="1" cellspacing="0" cellpadding="5">
<tr><th>Name:</th><th>X Coord:</th><th>Y Coord:</th></tr>
{% for planet in planets %}
<tr>
<td><a href="./planet-detail.php?planet={{ planet.planet_id | url_encode }}">{{ planet.name }}</a></td>
<td align="right">{{ planet.x_coord }}</td>
<td align="right">{{ planet.y_coord }}</td>
	{% if planet.factory or planet.fluff %}
<td align="center">
	<a href="./planet-detail.php?planet={{ planet.planet_id | url_encode }}">
		{% if planet.factory and planet.fluff %}
		{% spaceless %}
<img src="./images/fluff.gif" alt="Description" width="16" height="16" border="0" />
<img src="./images/factory.gif" alt="Factory" width="16" height="16" border="0" />
		{% endspaceless %}
		{% elseif planet.factory %}
<img src="./images/factory.gif" alt="Factory" width="16" height="16" border="0" />
		{% elseif planet.fluff %}
<img src="./images/fluff.gif" alt="Description" width="16" height="16" border="0" />
		{% endif %}
	</a>
	{% endif %}
</td>
</tr>
{% endfor %}
</table>

{% include 'next_prev.html' %} 
