<div class="row">
  <div class="col-sm-12">
    <div class="page-header">
      <h1>
        <b>Product or Component Types:</b>
      </h1>
    </div>
  </div>
</div>

{% include 'next_prev.html' %}

<div class="table-responsive">
  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th>Product / Component Type:</th>
      </tr>
    </thead>
    <tbody>
      {% for product in products %}
        <tr>
          <td>
            <a href="./product-type-detail.php?searchvalue={{ product.product_type_id }}">{{ product.component_type }}
              ({{ product.product_type }})</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% include 'next_prev.html' %}
