<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ productData.component_type }} ({{ productData.product_type }}) | Inner Sphere Atlas: Product Type</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
  <div class="container">
    <ol class="breadcrumb">
      <li><a href="./">Inner Sphere Atlas</a></li>
      <li><a href="./product-type.php">Product or Component Types</a></li>
      <li class="active">{{ productData.component_type }} ({{ productData.product_type }})</li>
    </ol>
  </div>
  <div class="container">
    {% include 'product-type-detail-detail.html' %}
  </div>
  {% include 'footer.html' %}
</body>

</html>
