<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1" />
    <meta name="robots" content="index, follow" />

    <!-- common social tags -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@ISAtlasBTech" />
    <meta name="twitter:creator" content="@ISAtlasBTech" />
    <meta property="og:type" content="website" />
    <meta property="og:image" name="twitter:image" content="https://isatlas.teamspam.net/images/ISAtlasTwitterCard.png" />
    <meta property="og:image:width" content="512" />
    <meta property="og:image:height" content="512" />
    <meta property="og:site_name" content="Inner Sphere Atlas" />

    <!-- document-specific social tags -->
    <meta property="og:url" content="{{ canonicalLink }}" />
    <meta property="og:title" name="twitter:title" content="Product Types | Inner Sphere Atlas" />
    <meta property="og:description" name="description" content="A listing of product types in the BattleTech/MechWarrior Universe (aka The Inner Sphere)." />

    <!-- icons -->
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="apple-touch-icon-precomposed" href="/images/icon/apple-touch-icon-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/icon/apple-touch-icon-72x72-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/icon/apple-touch-icon-114x114-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/icon/apple-touch-icon-144x144-precomposed.png" />

    <title>Site Map | Inner Sphere Atlas</title>

    <link rel="alternate" href="{{ canonicalLink }}" hreflang="x-default" />
    <link rel="canonical" href="{{ canonicalLink }}" />
    <link rel=”publisher” href="https://plus.google.com/100379799764247656300">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />

    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
</head>

<body>
    <a href="#content" class="sr-only sr-only-focusable">Skip to main content</a>
    <div class="container">
        <ol class="breadcrumb">
            <li>
                <a href="/">Inner Sphere Atlas</a>
            </li>
            <li class="active">Site Map</li>
        </ol>
        <div class="row">
            <div class="col-sm-12">
                <div class="page-header">
                    <h1>
            <i class="icon ion-planet"></i>
            <b>Site Map:</b>
          </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="content" tabindex="-1">
        <ul>
            <li>
                <h2>
                <a href="/planet.php"><i class="icon ion-planet"></i> Systems:</a> </h2>
                <ul>
                  {% for planet in planets %}
                    <li>
                        <a href="/planet-detail.php/{{ planet.slug }}">{{ planet.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </li>
            <li>
                <h2>
                <a href="/factory.php"><i class="icon ion-settings"></i> Factories:</a> </h2>
                <ul>
                  {% for factory in factories %}
                    <li>
                        <a href="/factory-detail.php/{{ factory.slug }}">{{ factory.name }}</a>
                    </li>
                {% endfor %}
              </ul>
            </li>
            <li>
                <h2>
                <a href="/product-type.php"><i class="icon ion-gear-a"></i> Product or Component Types:</a> </h2>
                <ul>
                  {% for productType in productTypes %}
                    <li>
                        <a href="/product-type-detail.php/{{ productType.slug }}">{{ productType.name }}</a>
                    </li>
                {% endfor %}
              </ul>
            </li>
            <li>
                <h2>
                <a href="/novel.php"><i class="icon ion-ios-book"></i> Novels:</a>
                </h2>
                <ul>
                    <li>
                        <a href="/novel-timeline.php">Novel Timeline</a>
                    </li>
                  </ul>
                  <br/>
                  <ul>
                    {% for novel in novels %}
                    <li>
                        <a href="/novel-detail.php/{{ novel.slug }}">{{ novel.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </div>
    {% include 'footer.html' %}
</body>

</html>
